@import url(main.css);	
.giftcard-types {
	display: block;
	background-color: #ffffff;
	padding-bottom: 0;
}
.giftcard-types img {
	display: inline-block;
}
#explanation {
	width: 90%;
	margin: 0 auto;
	direction: rtl;
	padding: 0 10px;
	padding-top: 185px;
	box-sizing: border-box;
	text-align: justify;
}
#explanation a {
	color: blue;
	text-decoration: underline;
}
#explanation p {
	margin: 0;
}
#explanation > div {
	display: none;
	padding-bottom: 15px;
}
#explanation > div:first-child {
	display: block;
}
@media screen and (max-width: 600px) {
	#explanation {
		width: 100%;
		padding-top: 170px;
	}
	.giftcard-types img {
		width: 50px;
	}
}
