@import url(iransans/fontiran.css);
* {
	direction: rtl;
	box-sizing: border-box;
	font-family: IRANSans;
}
body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	margin:0;
}
.clear {
	clear: both;
}
#myForm {
	display: none;
}
.header img, .header ul, .header ul li {
	float: right;
}
.header {
	width: 100%;
	height: 80px;
	background-color: #e7ecf1;
	padding: 10px 30px 10px 0;
	position: fixed;
	top: 0;
	z-index: 2;
}
.header img {
	height: 100%;
}
.header ul {
	list-style-type: none;
	margin: 15px 0;
}
.header li {
	margin-left: 20px;
}
.header li a {
	color: black;
	font-weight: bold;
}
.header li a:hover {
	color: #f1003e;
}
.header li a:focus {
	text-decoration: underline;
}
.header ul > li:last-child {
	margin: 0;
}
.giftcard-types {
	width: 100%;
	padding: 15px 0 0 10px;
	text-align: center;
	position: fixed;
	z-index: 2;
	top: 80px
}
.giftcard-types img {
	width: 65px;
	display: none;
	cursor: pointer;
}
.giftcard-types img:hover {
	border-radius: 50%;
	background-color: #55ccff;
}
.giftcard-types a {
	-webkit-transition:.5s;
	transition: all 0.5s linear;
}
.baner {
	width: 100%;
	height: calc(100% - 80px);
	background-color: #55bbff;
	box-shadow:0px 0px 93px 4px #99EEFF inset, 0px 0px 137px 65px #55ccff inset;  
	text-align: center;
	margin-top: 80px;
}
.aces {
	width: 100%;
	height: 100%;
	background-image: url("../img/aces.png");
	background-repeat:no-repeat;
	background-position: center;
	background-size: 45vw;
	position: relative;
    bottom: -30px;
}
#container, #content {
	max-width: 1050px;
	margin: 0 auto;
	padding: 20px;
	padding-top: 100px;
	height: calc(100% - 80px);
}
.bargain {
	width: 65%;
	float: right;
}
.credit-type, .slider {
	text-align: center;
}
.credit-type {
	max-width: 440px;
	margin: 0 auto;
	margin-top: 20px;
	height: 255px;
	overflow-y: hidden;
	overflow: auto;
	white-space: nowrap;
	overflow-y: hidden;
}
.credit-type::-webkit-scrollbar {
	height: 5px;
	background: #F5F5F5;
	overflow-x: scroll;
}
.credit-type::-webkit-scrollbar-track  {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.credit-type::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2ed4ff;
}
.credit-type > div {
	display: inline-block;
	width: 138px;
	cursor: pointer;
	margin-left: 5px;
	height: 242px;
}
.product-image {
	width: 138px;
	height: 208px;
	margin-bottom: 5px;
	background-image: url("../img/ace-cards.png");
	background-repeat: no-repeat;
}
.GC-iTunes-5 {
	background-position: -1px -1px;
}
.GC-iTunes-10 {
	background-position: -140px -1px;
}
.GC-iTunes-15 {
	background-position: -279px -1px;
}
.GC-iTunes-25 {
	background-position: -418px -1px;
}
.GC-iTunes-50 {
	background-position: -557px -1px;
}
.GC-iTunes-100 {
	background-position: -696px -1px;
}
.GC-GooglePlay-5 {
	background-position: 0 -209px;
}
.GC-GooglePlay-10 {
	background-position: -140px -209px;
}
.GC-GooglePlay-15 {
	background-position: -279px -209px;
}
.GC-GooglePlay-25 {
	background-position: -418px -209px;
}
.GC-GooglePlay-50 {
	background-position: -557px -209px;
}
.GC-GooglePlay-100 {
	background-position: -696px -209px;
}
.GC-XBox-5 {
	background-position: -1px -417px;
}
.GC-XBox-10 {
	background-position: -140px -417px;
}
.GC-XBox-15 {
	background-position: -279px -417px;
}
.GC-XBox-25 {
	background-position: -418px -417px;
}
.GC-Xbox-50 {
	background-position: -557px -417px;
}
.GC-XBox-100 {
	background-position: -696px -417px;
}
.GC-PlayStation-5 {
	background-position: -1px -625px;
}
.GC-PlayStation-10 {
	background-position: -140px -625px;
}
.GC-PlayStation-20 {
	background-position: -279px -625px;
}
.GC-PlayStation-50 {
	background-position: -418px -625px;
}
.GC-PlayStation-100 {
	background-position: -557px -625px;
}
.GC-Amazon-5 {
	background-position: -1px -833px;
}
.GC-Amazon-10 {
	background-position: -140px -833px;
}
.GC-Amazon-15 {
	background-position: -279px -833px;
}
.GC-Amazon-25 {
	background-position: -418px -833px;
}
.GC-Amazon-50 {
	background-position: -557px -833px;
}
.GC-Amazon-100 {
	background-position: -696px -833px;
}
.GC-Microsoft-5 {
	background-position: -1px -1040px;
}
.GC-Microsoft-10 {
	background-position: -140px -1040px;
}
.GC-Microsoft-15 {
	background-position: -279px -1040px;
}
.GC-Microsoft-25 {
	background-position: -418px -1040px;
}
.GC-Microsoft-50 {
	background-position: -557px -1040px;
}
.GC-Microsoft-100 {
	background-position: -696px -1040px;
}
.GC-Skype-5 {
	background-position: -1px -1248px;
}
.GC-Skype-10 {
	background-position: -140px -1248px;
}
.GC-Skype-15 {
	background-position: -279px -1248px;
}
.GC-Skype-25 {
	background-position: -418px -1248px;
}
.GC-Skype-50 {
	background-position: -557px -1248px;
}
.GC-Skype-100 {
	background-position: -696px -1248px;
}
.GC-PlayStation-5 {
	background-position: -1px -1456px;
}
.GC-PlayStation-10 {
	background-position: -140px -1456px;
}
.GC-PlayStation-20 {
	background-position: -279px -1456px;
}
.GC-PlayStation-50 {
	background-position: -418px -1456px;
}
.GC-PlayStation-100 {
	background-position: -557px -1456px;
}
.GC-Spotify-10 {
	background-position: -1px -1665px;
}
.GC-Spotify-30 {
	background-position: -140px -1665px;
}
.GC-Spotify-60 {
	background-position: -279px -1665px;
}
.GC-Spotify-120 {
	background-position: -418px -1665px;
}
.GC-Steam-2 {
	background-position: -1px -1873px;
}
.GC-Steam-3 {
	background-position: -140px -1873px;
}
.GC-Steam-5 {
	background-position: -279px -1873px;
}
.GC-Steam-10 {
	background-position: -418px -1873px;
}
.GC-Steam-20 {
	background-position: -557px -1873px;
}
.GC-Steam-25 {
	background-position: -696px -1873px;
}
.GC-Steam-50 {
	background-position: -557px -1665px;
}
.GC-Steam-100 {
	background-position: -696px -1665px;
}
.giftcard-price {
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	box-shadow:0px 0px 27px 0px #a0a0a0 inset, 0px 0px 0px 18px #ffffff inset;
}
.info {
	max-width: 420px;
	margin: 10px auto;
	height: 40px;
}
.info:last-child{
	margin-bottom: 0;
	height: 25px;
}
.info p {
	float: right;
	width: 100px;
	text-align: right;
	margin: 6px 0;
	font-size: 17px;
    font-weight: bold;
}
#counter, #decrease, #increase {
	border: 2px solid #adadad;
	border-radius: 8px;
	box-sizing: border-box;
}
#counter {
	float: left;
	width: calc(100% - 90px);
	height: 40px;
	margin-right: 4px;
	text-align: center;
	font-family: IRANSans;
	font-size: 20px;
	font-weight: bold;
}
#counter, #increase, #decrease { 
	outline: none;
}
#decrease, #increase {
	float: right;
	width: 40px;
	height: 40px;
	background-size: cover;
	cursor: pointer;
}
#decrease {
	margin-right: 2px;
	background-image: url("../img/decrease.png");
}
#increase {
	background-image: url("../img/increase.png");
}
#counter, .cellphone, .email {
	float: left;
	width: calc(100% - 100px);
	height: 40px;
	text-align: center;
	font-weight: bold;
	font-family: IRANSans;
	border: 2px solid #585858;
	border-radius: 8px;
	box-sizing: border-box;
}
.email {
	direction: ltr;
}
.cellphone:focus, .email:focus { 
	outline: none;
	border: 2px solid #2ed4ff;
}
.invoice {
	width: 35%;
	float: left;
	padding: 5% 0;
	padding-right: 10px;
}
.invoice ul {
	list-style-type: none;
	padding: 0;
	padding-right: 10px;
}
.invoice ul li {
	margin-bottom: 15px;
}
.invoice ul li p, .invoice ul li span {
	display: inline;
}
.invoice button {
	width: 100%; 
	height: 40px;
	background-color: #4b9d4d;
	font-family: "IRANSans";
	font-weight: bold;
	color: #ffffff;
	border-radius: 5px;
	border: 0;
}
.button, #button {
	max-width: 250px;
	height: 40px;
	cursor: pointer;
	font-size: 18px;
}
#button:focus { outline: none; }
.giftcard-types img.active {
	background-color: #55ccff;
	border-radius: 50%;
}
.credit-type div.active .product-image {
	border:1px solid #55ccff;
	border-radius:10px;
}
.credit-type div.active .giftcard-price {
	box-shadow:0px 0px 27px 0px #55ccff inset, 0px 0px 0px 18px #ffffff inset;
}
.save-information {
	float: left;
	width: calc(100% - 100px);
	height: 40px;
	cursor: pointer;
}
.save-information input {
	float: right;
	margin-top: 6px;
	cursor: pointer;
}
.save-information span {
	float: right
}
.load {
	width: 100%;
	height: calc(100% - 80px);
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	bottom: 0;
	z-index: 10;
	direction: rtl;
}
.load section {
    text-align: center;
	position: relative;
	top: 30%;
}
.load p {
	color: #ffffff;
	font-weight: bold;
	font-size: 2vw;
	margin: 0;
}
.load img {
	width: 3vw;
}
.hint-cellphone, .hint-email {
	max-width: 420px;
	margin: 10px auto;
	color: #ff0000;
	height: 20px;
	font-size: 12px;
	text-align: right;
	padding-right: 110px;
	box-sizing: border-box;
}
.error {
	border-color: #ff0000;
	color: #ff0000;
}
.hide {
	display: none;
}
.support {
	width: 90%;
	margin: 20px auto;
	border: 1px solid #555555;
	box-shadow: 0 0 2px 1px #888888, inset 0 0 4px #000000;
	border-radius: 5px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-align: center;
}
.support img {
	width: 150px;
}
.support p , .support span {
	direction: rtl;
}
@media screen and (max-width: 800px) {
	.aces {
		background-size: 85vw;
	}
	.bargain {
		float: none;
		width: 100%
	}
	.invoice {
		float: none;
		width:250px;
		margin: 0 auto;
	}
	.button, #button {
		margin: 0 auto;
	}
	#container {
		padding-top: 150px;
	}
}
@media screen and (max-width: 600px) {
	.header {
		height: 50px;
		padding: 5px 10px 5px 0;
	}
	.header img {
		width: 80px;
	}
	.header ul {
		margin: 10px 0;
		font-size: 12px;
		padding-right: 20px;
	}
	.giftcard-types {
		top: 45px;
	}
	.giftcard-types img {
		width: 48px;
	}
	.giftcard-types img:hover {
		border-radius: 50%;
		background-color: #55ccff;
	}
	.baner {
		top: 50px;
		margin-top: 50px;
		height: calc(100% - 50px);
	}
	#container {
		min-height: 530px;
		padding-top: 100px;
		height: calc(100% - 50px);
	}
	.load {
		height: calc(100% - 50px);
	}
	.load img {
		width: 30px;
	}
	.load p {
		font-size: 14px;
	}
	#content {
		padding-top: 60px;
	}
}
@media screen and (max-width: 400px) {
	li.hidden {
		display: none;
	}
	.info p {
		font-size: 14px;
		width: 86px;
	}
	#counter, .cellphone, .email {
		width: calc(100% - 86px);
	}
	.invoice ul {
		font-size: 14px;
	}
	.hint-cellphone, .hint-email {
		padding-right: 96px;
		font-size: 10px;
	}
	
	.support img {
		width: 100px;
	}
	.support p , .support span {
		font-size: 12px;
		direction: rtl;
	}	
}